

*{
    borde: 1px  solid red;
}





.entete{
    background: #00796b;
    text-decoration: none;
}
.entete a{
    text-decoration: none;
}
@media screen and (max-width:900px) {
    .entete{
        display: none;
    }
}


/* ffffffffffiiiiiiiinnnn */


/* navv */

#navv{
    background-color: #008374;
}
.nav-item a{
    font-weight: bold;
}


/* ffffffffffiiiiiiiinnnnn */

/* header */

header{
    background-color: #008374;
}

@media screen and (max-width:900px) {
   
}

/* ffffiiiiiiiiinnnnnn */

/* about */

#about li{
    list-style-type: none;
}
#about li i{
  color: #00796b;
}

/* fffffiiinnn */

/* loggo */
.div-logos{
    display: flex;
}
.logos{
    width: 9rem;
    margin: 10px;

}
/* partenaire */

.nbr{
    color: #008374;
    font-size: 35px;
    font-weight: 700;
}
.bordure{
    border-bottom: 1px solid rgb(231, 220, 220);
}


/* call */

#call{
    background-image: url(img/cta-bg.jpg);
    height: 80vh;
    width: 80%;
    border-radius: 10px;
    margin: auto;
}
.black{
    background-color: rgb(1, 1, 1,0.7);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Pricing */

.list i{
    color: #008374;
}
.zero{
    color: orangered;
    font-size: 35px;
    font-weight: bolder;
}
.zerro{
    color: orangered;
}
/* recent */

.blog-img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

/* ffffiiiinnn */

/* contact */

.bag-contact{
    background-color: #00796b;
}

/* footer */

footer{
    background-color: #008374;
}

.link-footer a{
    text-decoration: none;
    font-size: 12px;
}

.bgg-contact {
    background-color: #008374;
    
}
.bgg-contact {
    font-size: 10px;
}










/* testimonails */



.cercles{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.temoignagess , .temoignagess1{
    border-radius: 5px;
    width: 17rem;
	height: 15rem;
    box-shadow: 1px 1px 4px 1px;
    padding: 10px;
}
.container9{
    display: flex;
    justify-content: space-around;
}
.flexx{
    display: flex;
}
.sizes{
    font-size: 15px;
}

.image-slide{
	display: flex;
	justify-content: space-around;

	padding-top: 5px;
}

#homepage-slider input{
    display: none;
}
.labels{
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width:800px) {
	.temoignagess1{
		display: none;
	}
	.temoignagess{
		width: 35rem;
		height: 17rem;
	}
}
@media screen and (max-width:700px) {
	.temoignagess1{
		display: none;
	}
	.temoignagess{
		width: 20rem;
		height: 17rem;
	}
}







.image {
	width: 100%;
	height: 200px;
  }
  .radio {
	/*display: none;*/
  }
  .images {
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;

	height: 300px;
  }
  .images-inner {
	width: 500%;
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
  .image-slide {
	width: 20%;
	float: left;

  }
  .image-slide,
  .fake-radio,
  .radio-btn {
	transition: all 0.5s ease-out;
  }
  .fake-radio {
	float: right;
  }
  
  
  
  
  /* Move slides overflowed container */
  #slide1:checked ~ .images .images-inner {
	margin-left: 0;
  }
  #slide2:checked ~ .images .images-inner {
	margin-left: -100%;
  }
  #slide3:checked ~ .images .images-inner {
	margin-left: -200%;
  }
  
  
  
  
  /* Color of bullets */
  #slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
  #slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
  #slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {
	background: red;
	
  }
  .radio-btn {
	width: 9px;
	height: 9px;
	border-radius: 5px;
	background: gray;
	display: inline-block !important;
	margin: 0 1px;
	cursor: pointer;
  }
  /* Color of bullets - END */
  
  
  
  
  /* Text of slides */
  #slide1:checked ~ .labels .label:nth-child(1),
  #slide2:checked ~ .labels .label:nth-child(2),
  #slide3:checked ~ .labels .label:nth-child(3) {
	opacity: 1;
  }
  
  .label {
	opacity: 0;
	position: absolute;
  }
  /* Text of slides - END */
  
  
  
  /* Calculate AUTOPLAY for BULLETS */
  @keyframes bullet {
	0%, 33.32333333333334%	{
	  background: rgb(39, 132, 160);
	}
	33.333333333333336%, 100% {
	  background: gray;
	}
  }
  
  
  #play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
	animation: bullet 12300ms infinite -1000ms;
  }
  
  #play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
	animation: bullet 12300ms infinite 3100ms;	
  }
  
  #play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
	animation: bullet 12300ms infinite 7200ms;	
  }
  /* Calculate AUTOPLAY for BULLETS - END */
  
  
  
  
  /* Calculate AUTOPLAY for SLIDES */
  @keyframes slide {
	0%, 25.203252032520325%	{ margin-left: 0; }
	33.333333333333336%, 58.53658536585366%	{ margin-left: -100%; }
	66.66666666666667%, 91.869918699187%	{ margin-left: -200%; }
  }
  
  
  .st-slider > #play1:checked ~ .images .images-inner {
	animation: slide 12300ms infinite;	
  }
  /* Calculate AUTOPLAY for SLIDES - END */
  
  
  
  
  
  /* Calculate AUTOPLAY for CAPTION */
  @keyframes caption {
	0%, 33.32333333333334%	{
	  opacity: 1;
	}
	33.333333333333336%, 100% {
	  opacity: 0;
	}
  }
  
  
  #play1:checked ~ .labels .label:nth-child(1) {
	animation: caption 12300ms infinite -1000ms;
  }
  
  #play1:checked ~ .labels .label:nth-child(2) {
	animation: caption 12300ms infinite 3100ms;	
  }
  
  #play1:checked ~ .labels .label:nth-child(3) {
	animation: caption 12300ms infinite 7200ms;	
  }
  /* Calculate AUTOPLAY for CAPTION - END */
  
  
  

